<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Blog</title>
</head>
<style>

</style>
<body>

<div ng-controller='BlogController as ctrl'>
 <!-- Modal -->
<div id="addModal" class="modal fade" role="dialog">


  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Blog</h4>
      </div>
  
  <form ng-submit="ctrl.submit()">    
<div class="modal-body">


<input type="text" ng-model="ctrl.blog.title" class="form-control gm" placeholder="Title">
<textarea  ng-model="ctrl.blog.description" placeholder="Subject" class="form-control gm" rows="6" cols="50"></textarea>
<textarea ng-model="ctrl.blog.brief" placeholder="Description" class="form-control gm" rows="10" cols="100"></textarea>
<input type="text" ng-model="ctrl.blog.writtenby" ng-bind="ctrl.blog.writtenby=loginData.username" hidden="true"  >
</div>
 <div class="modal-footer">
 <input id="button" ng-hide="ctrl.upd" type="submit" class="btn btn-success"  value="post blog">
 <input id="button" type="submit" ng-show="ctrl.upd" class="btn btn-success"  value="update blog">
 </div>
 </form>
    </div>
</div>
</div>

<div class="col-sm-12 scrollit"  ng-repeat="blog in ctrl.blogs">
<div class="panel panel-default">
<div class="panel-body">
<div class="media">
  <div class="media-left">
    <img src="http://placehold.it/150x150" class="media-object" >
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{loginData.fname}} {{loginData.lname}}</h4>
    <p>{{blog.title}}</p>
    <p>{{blog.description}}</p>
      <input type="submit" ng-click="ctrl.modBlog(blog.blog_id)" class="btn btn-warning" data-toggle="modal" data-target="#myModal" value="More Info..">
    <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ctrl.modblog.title}}</h4>
        <p>{{ctrl.modblog.description}}</p>
      </div>
      <div class="modal-body">
        <p>{{ctrl.modblog.brief}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
    </div>
  </div>

</div>
  <div class="panel-footer">
  <div class="media">
  <div class="media-left" >
  <h1 style="margin-right: 490px;"></h1>
  </div>
  <div class="media-body">
    <input  style="padding-top:6.5px; padding-bottom:6.5px; padding-left:20px; padding-right: 20px;" type="submit" class="btn btn-warning"  data-toggle="modal" data-target="#addModal"  value="Edit" ng-click="ctrl.editBlog(blog.blog_id)">
 <input   type="submit" class="btn btn-danger"  value="Delete" ng-click="ctrl.deleteBlog(blog.blog_id)">
  
    </div>
  
  </div>
  </div>
</div>
</div>
</div> 




</body>
<br>
</html>