<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Admin</title>
<style>

.btnm{
margin-top:10px;

}

</style>
</head>
<body>
<div  ng-controller="adminController as admin">

<div class="container-fluid" style="margin-top: 100px;">
<div class="col-sm-2">
<div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Flink</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse" ng-repeat="na in admin.nav"><span class="badge"></span>
         
          <ul class="nav navbar-nav" >
          <li><a></a></li>
            <li><a type="submint" ng-click="admin.cval(na.status)" href="">{{na.status}}</a></li>
         
            
            
            
          </ul>
 
        </div><!--/.nav-collapse -->
  </div>
  </div>
</div>
<div class="col-sm-10">
<input type="text" class="form-control" ng-model="navalue" placeholder="Search...">
<div class="media" ng-repeat="user in admin.users |filter : admin.navalue | filter : navalue">
   <div class="media-left">
      <img src="http://placehold.it/150x150" class="media-object" style="width:60px">
    </div>
    <div class="media-body">
    <h4 class="media-heading" >{{user.fname}} {{user.lname}}</h4>
     <p><span><b>Username:</b></span> <span>{{user.username}}</span> </p>
     <p><span><b>Email:</b></span> <span>{{user.email}}</span> </p>
     <p><span><b>Mobile:</b></span> <span>{{user.mobile}}</span> </p>
     <p><span><b>Role:</b></span> <span>{{user.role}}</span> </p>
    <p><span><b>Status:</b></span> <span>{{user.status}}</span></p>
     
     <p><span><b>Online:</b></span> <span>{{user.is_online}}</span></p>
     <p><span><b>Address:</b></span> <span>{{user.address}}</span></p>
     
     </div>
     <div class="media-right">
     <input type="submit" ng-click="admin.statusupdate(user.username,'accepted')"  class="btn btn-success btn-block btnm" value="Accept" >
     <input type="submit" ng-click="admin.statusupdate(user.username,'blocked')"  class="btn btn-warning btn-block btnm" value="block" >
      <input type="submit" ng-click="admin.statusupdate(user.username,'rejected')"  class="btn btn-danger btn-block btnm" value="Reject" >
     
     </div>
     <hr>
  </div>
 
</div>
</div>
</div>
</body>
</html>