<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title></title>
<style >.map{
    min-height:600px;
     background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     
  
}
#display_panel{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
     
}
#display_body{
position: relative;
  overflow: hidden;
  padding:0px;
  
   height: 300px;
}
#display{
   max-width: 100%;
   max-height: 

}
.input-group{
margin-top:10px;

}
</style>


</head>
<body >
<div ng-controller='UserController as cntrl'>
<div class="map"  ng-style="{'background-image': 'url(./Resources/userimage/{{loginData.username}}_cover.jpg )'}"> 
</div>

<div class="container-fluid">
<div class="col-sm-12" style="padding: 0px;" >
<nav class="navbar navbar-default profilenav">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{loginData.fname}} {{loginData.lname}}</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="" ng-if="loginData.role=='Admin'"  ui-sref="userprofile.adminjob">Job</a></li>
            <li><a href="" ng-if="loginData.role=='Student' ||loginData.role=='Alumni'||loginData.role=='Employee' || !loginData.username" ui-sref="userprofile.profilejob">Job</a></li>
      
           <li><a href="" ui-sref="userprofile.chatforum">Chat Forum</a></li>
     
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" ui-sref="userprofile.profileblog">Blog
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li ><a type="submit" data-toggle="modal" data-target="#addModal" >Add Blog</a></li>
          </ul>
      </li>
      <li><a ui-sref="userprofile.friend">Friends</a></li>
    </ul>
     <ul class="nav navbar-nav navbar-right">
      <li><a type="submit"  href="" data-toggle="modal" data-target="#uploadModal"  ng-click="cntrl.prup('cover')">Update Cover Photo</a></li>
  </ul>
  </div>
</nav>
</div>
</div>
<div class="container">
<div class="col-sm-4" >
<div class="panel panel-default" id="display_panel">
  <div class="panel-heading text-center"  id="display_body">
       <img id="display" ng-src="./Resources/userimage/{{loginData.username}}.jpg"> </div>
  <div class="panel-body">
   <button type="button"  style="margin-bottom:10px; " class="btn btn-info btn-block" data-toggle="modal" data-target="#uploadModal" ng-click="cntrl.prup('profile')">Update Profile Picture</button>
  
   <span> <i class="fa fa-user-circle fa-lg" aria-hidden="true"></i></span><span>  <b>{{loginData.username}}</b></span><br>
   <span> <i class="fa fa-envelope fa-lg" aria-hidden="true"></i></span><span>  <b>{{loginData.email}}</b></span><br>
   <span> <i class="fa fa-phone-square fa-lg" aria-hidden="true"></i></span> <span>  <b>{{loginData.mobile}}</b></span><br>
    <span> <i class="fa fa-calendar fa-lg" aria-hidden="true"></i></span> <span>  <b>{{loginData.dateofbirth | date:dd/MM/yy}}</b></span><br>
    <span> <i class="fa fa-id-card fa-lg" aria-hidden="true"></i></span> <span>  <b>{{loginData.role}}</b></span><br>
    <span> <i class="fa  fa-location-arrow fa-lg" aria-hidden="true"></i></span> <span>  <b>{{loginData.address}}</b></span><br>
   </div>
   <div class="panel-footer">
   
   <input type="submit"  class="btn btn-success btn-block" value="Edit" data-toggle="modal" data-target="#profileModal" ng-click="cntrl.up()">
   
   </div>
</div>
</div>
<div class="col-sm-8" style="min-height:500px;">
<ui-view>
</ui-view>
</div>
</div>

<div id="profileModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Profile</h4>
      </div>
      <div class="modal-body">
      <div class="input-group">
  <span class="input-group-addon"><i class="fa fa-pencil fa-fw"></i></span>
  <input class="form-control" ng-model="cntrl.user.fname" type="text" placeholder="First Name" required>
</div>
<div class="input-group">
  <span class="input-group-addon"><i class="fa fa-pencil fa-fw"></i></span>
  <input class="form-control" ng-model="cntrl.user.lname" type="text" placeholder="Last Name" required>
</div>
<div class="input-group">
  <span class="input-group-addon"><i class="fa fa-user-circle fa-fw"></i></span>
  <input class="form-control" ng-model="cntrl.user.username" type="text" placeholder="Username" disabled >
</div>
<div class="input-group">
  <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
  <input class="form-control" ng-model="cntrl.user.email" type="email" placeholder="Email Address" >
</div>

<div class="input-group">
  <span class="input-group-addon"><i class="fa fa-mobile fa-fw"></i></span>
  <input class="form-control" type="tel" ng-model="cntrl.user.mobile" placeholder="Mobile" required>
</div>

<div class="input-group">
  <span class="input-group-addon" style="padding: 8px;"><i class="fa fa-male "></i><i class="fa fa-female fa-fw"></i></span>
  <select class="form-control" ng-model="cntrl.user.gender" required>
  <option  >Gender</option>
    <option  >Male</option>
    <option  >Female</option>
  
  </select>
</div>
<div class="input-group">
  <span class="input-group-addon"><i class="fa fa-mobile fa-fw"></i></span>
  <input class="form-control" type="date" ng-model="cntrl.user.dateofbirth " placeholder="Date Of Birth" required>
</div>
<div class="input-group">
  <span class="input-group-addon"><i class="fa fa-address-book fa-fw"></i></span>
<textarea class="form-control" ng-model="cntrl.user.address" rows="5" cols="30" placeholder="Address" required></textarea>
</div>
</div>

 <div class="modal-footer">
   <input type="submit"  class="btn btn-success btn-block" data-dismiss="modal" value="Edit"  ng-click="cntrl.upsubmit()">
 </div>
    </div>
</div>
</div>
<div id="uploadModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" ng-if=(cntrl.status=='profile')>Update Profile Picture</h4>
                <h4 class="modal-title" ng-if=(cntrl.status=='cover')>Update Cover Picture</h4>
        
      </div>
      <div class="modal-body">
        <p></p>
        <input type="file"  file-model="myFile" class="btn  btn-block">
        <img>
      </div>
      <div class="modal-footer">
      <input type="submit" class="btn btn-default" ng-click="cntrl.imageUpload()" value="Upload" data-dismiss="modal">
      </div>
    </div>

  </div>
</div>
</div>



</body>
</html>